.column{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    background: linear-gradient(145deg, #8abea5, #74a08b);
    box-shadow:  14px 14px 17px #6e9783,
             -14px -14px 17px #94cdb1;
    width: 90%;
    h1{
        color: #fafafa;
        text-align: center;
    }
    .listaColumnas{
        width: 100%;
        .check{
            background-color: #fafafa;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .inputTask{
            background-color: #fafafa;
            border-radius: 5px;
            input{
                border: none;
                width: 100%;
                padding: 3%;
                :focus{
                    border: none;
                }
            }
        }
    }
}